form {
    padding: 2rem 0;
    position: relative;
    top: 0;
    left: 0;
}
h3 {
    margin-bottom: 1rem;
}
form .btn-block {
    position: absolute;
    top: 5%;
    right: 5%;    
}
form .btn-wrap {
    margin-top: .7rem;
}
button {
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition-duration: 300ms;
    border-radius: 3px;
}
input {
    font-size: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
}
input,
textarea {
    border-radius: 5px;
}