.outer {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    transform: translate(0,-130%);
    -webkit-transform: translate(0,-130%);
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
}
.outer.show-modal {
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    opacity: 1;
}
.outer .inner {
    position: relative;
    top: 15%;
    left: 25%;
    background-color: rgb(205, 215, 250);
    width: 50%;
    height: 60%;
}
@media screen and (max-width: 768px) {
    .outer .inner {
        left: 5%;
        width: 90%;
        height: 45%;
    }
    form .btn-block {
        right: 2%;
    }
}